* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  /* cursor: url(Assets/Cursors/ ), auto; */
  font-family: 'Fredoka', cursive, sans-serif; 
}

body {
    height: 100vh;
    display: flex;
    margin: 0; 
    background: radial-gradient(rgb(157, 0, 79), rgb(6, 36, 118)); 
}

.page-title {
  color: #dfe207;
  font-family: 'Franklin Gothic Medium', sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 3em;
}

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-info {
  color: rgb(204, 212, 220);
  font-size: 2em;
}

.game-container {
  /* margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 15px;
  justify-content: center;
  perspective: 500px; */
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  position: relative;
  height: 175px;
  width: 125px;
}

.card-face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border-width: 7px;
  border-style: solid;
  overflow: hidden;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden; 
}

.card.visible .card-back {
  transform: rotateY(-180deg); 
}

.card.visible .card-front {
  transform: rotateY(0); 
}

.card.matched .card-front .card-value {
  animation: dance 1s linear infinite 500ms;
} */

.card-back {
  background-color: rgb(64, 54, 76);
  border-color: rgb(211, 211, 225);
  transform: rotateY(0); 
}

.rain-back {
  align-self: flex-start;
  transition: transform 100ms ease-in-out;
  transform: translateY(-10px);
} */

.card-back:hover .rain-back {
  transform: translateY(0);
} */

.card-value {
  position: relative;
  transition: transform 100ms ease-in-out;
  transform: scale(.9);
}

.card-front:hover .card-value {
  transform: scale(1);
}

.card-front {
  background-color: rgb(62, 167, 220);
  border-color: #333;
  transform: rotateY(180deg);
}

.intro-text {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(253, 247, 81);
  font-family: 'Franklin Gothic Medium', sans-serif;
  transition: background-color 500ms, font-size 500ms;
}

.intro-text-small {
  font-size: .3em;
}

.intro-text.visible {
  display: flex;
  animation: overlay-grow 500ms forwards;
}

@keyframes dance {
  0%, 100% {
    transform: rotate(0)
  }
  25% {
    transform: rotate(-30deg)
  }
  75% {
    transform: rotate(30deg)
  }
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, .8);
    font-size: 10em;
  }
}

@media (max-width: 600px) {
  .game-container {
    grid-template-columns: repeat(2, auto)
  }

  .game-info-container {
    flex-direction: column;
    align-items: center;
  }
}